<p id="notice"><%= notice %></p>

<h1 class="p-3 mb-2 bg-info text-white">Subjects</h1>

<table class = "table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.name %></td>
        <td><%= subject.description %></td>
        <td><%= subject.code %></td>
        <td><li><%= link_to 'Show', subject %>
        <li><%= link_to 'Edit', edit_subject_path(subject) %>
        <li><%= link_to 'Destroy', subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subject', new_subject_path %>
